@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Roboto:ital,wght@0,700;1,400&display=swap");
body{
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container{
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
    height: 500px;
    width: 420px;
    background-image: radial-gradient(#00114d, #00114d);
}
.game-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
}
#text{
    color:#fcbf1e;
    font-family: sans-serif;
    font-size: x-large;
    max-width: 80%;
    text-align: center;

}

#input{
    border-radius: 20px;
    border: 1px solid white;
    height: 50px;
    width: 170px;
    padding: 5px;
    text-align: center;
    font-size: 25px;
}

.button{
    cursor: pointer;
    border: 1px solid white;
    color: #ffffff;
    background:none;
    border-radius: 20px;
    height: 50px;
    width: 170px;
    text-align: center;
    font-size: 20px;
}

.button:hover{
    background-image: linear-gradient(#ffffff, #ffffff);
    transition-duration: 0.8s;
    color: #000929;
    transform: scale(1.1);
}

h1{
    max-width: 90%;
    margin-top: -7%;
    font-family: "Monoton", cursive;
    color:#dd2c00;
    font-weight: lighter;
}

.hidden{
    display:none;
}

.transform{
    animation-name: transform;
    animation-duration: 6s;
    transition: 2s;
}


@keyframes transform {
    0%   {color: #f01f08;}
    15%  {color: #f19b0a;}
    30%  {color: #e5f50b;}
    50% {color: #f10a7e;}
    100% {color: #ffffff;}
}